<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <link rel="stylesheet" href="/css/productDetail.css" />
</head>

<body>
  <%- include("./partials/header") %>
  <main class="main">
    <div class="main__container">
      <section class="main__movie-description">
        <div class="main__movie-header">
          <div class="main__movie-logo">
            <h1><%= movie.name %></h1>
            <h4><%= movie.description %></h4>
            <img src=<%= movie.image %> alt="godfather movie logo" />
            <form action="#" method="post" class="main__boockmark">
              <div class="main__boockmark-icon">
                <i class="far fa-bookmark"></i>
              </div>
              <button type="button" class="main__boockmark-button">
                Añadir a Mi lista
              </button>
            </form>
          </div>
          <section class="main__score-trailer-genre">
            <section class="main__movie-score">
              <article class="main__score-imdb">
                <div class="main__star-score">
                  <div class="main__star-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="main__complete-score">
                    <div class="main__score">
                      <span id="score"><%= movie.imdbScore %></span>
                      <span id="ten">/10</span>
                    </div>
                    <div><%= movie.imdbTotalReviews %></div>
                  </div>
                </div>
                <div>Puntuación en IMDb</div>
              </article>
              <article class="main__score-rottenTomatoes">
                <div class="main__tomato-score">
                  <span id="main__tomato-icon">
                    <img src="/images/productDetail/Rotten_Tomatoes.png" alt="Rooten Tomatoes icon" />
                  </span>
                  <span id="main__porcentage"><%= movie.tomatoScore %></span>
                </div>
                <p>Tomatometer</p>
              </article>
            </section>
            <div class="main__trailer">
              <a href=<%= movie.trailerLink %> target="”_blank”"><i class="fas fa-play"></i>Trailer</a>
            </div>
            <article class="main__genre">
              <div class="main__genre-1">Crimen</div>
              <div class="main__genre-2">Drama</div>
            </article>
          </section>
        </div>
        <div class="main__buy-rent-buttons">
          <form action="#" method="get" class="main__buttons">
            <button type="button" class="main__buy-button">
              Comprar por $ 1559,90
            </button>
            <button type="button" class="main__rent-button">
              Alquilar por $ 499,90
            </button>
          </form>
        </div>
        <div class="main__synopsis">
          <%= movie.synopsis %>
        </div>
        <article class="main__movie-crew">
          <div class="main__movie-director">
            <div class="main__director">Dirección</div>
            <span class="movie-director">
              <ul>
                <ul>
                  <% movie.director.forEach(element => { %>
                  <li>
                    <a href="<%= element.link%>" target="_blank" class="main__writer-biography"><%= element.name %></a>
                  </li>
                  <% }) %>
                </ul>
            </span>
          </div>
          <div class="main__movie-script">
            <div class="main__script">Guión</div>
            <span class="movie-script">
              <ul>
                <% movie.script.forEach(element => { %>
                <li>
                  <a href="<%= element.link%>" target="_blank" class="main__writer-biography"><%= element.name %></a>
                </li>
                <% }) %>
              </ul>
            </span>
          </div>
        </article>
      </section>
      <section class="main__sliders">
        <article class="article__slider-1">
          <div class="main__slider-title">
            <h2>Reparto principal</h2>
            <div><i class="fas fa-chevron-right"></i></div>
          </div>
          <div class="main__slider-wrap-principal-cast">
            <div class="main__slider">
              <div class="main__slider-inner" id="main__slider-1-inner">
                <% movie.cast.forEach(element => { %>

                <div class="main__item-actor">
                  <a href="<%= element.link%>" target="_blank">
                    <img src="<%= element.image%>" alt="<%= element.actor%>" />
                    <div class="main__actor-name"><%= element.actor%></div>
                    <div class="main__character-name"><%= element.image%></div>
                  </a>
                </div>
                <% }) %>
              </div>
            </div>
          </div>
        </article>
        <section class="main__movie_sliders">
          <article class="article__slider-2">
            <div class="main__slider-title">
              <h2>Dirigidas por <%= movie.director %></h2>
              <div><i class="fas fa-chevron-right"></i></div>
            </div>
            <div class="main__slider-wrap-directedBy">
              <div class="main__slider">
                <div class="main__slider-inner">
                  <% movie.directedBy.forEach(element => { %>
                  <div class="main__item-movie">
                    <img src=<%= element.image %> alt="<%= element.name%>" />
                    <div class="main__movie-name"><%= element.name%></div>
                    <form action="#" method="post" class="main__slider-boockmark">
                      <div class="main__boockmark-icon">
                        <i class="far fa-bookmark"></i>
                      </div>
                      <button type="button" class="main__boockmark-button">
                        Añadir a Mi lista
                      </button>
                    </form>
                  </div>
                  <% }) %>
                </div>
              </div>
            </div>
          </article>
          <article class="article__slider-3">
            <div class="main__slider-title">
              <h2>Películas similares</h2>
              <div><i class="fas fa-chevron-right"></i></div>
            </div>
            <article class="main__slider-wrap-directedBy">
              <div class="main__slider">
                <div class="main__slider-inner">
                  <% movie.similar.forEach(element => { %>
                  <div class="main__item-movie">
                    <img src="<%= element.image%>" alt="<%= element.name%>" />
                    <div class="main__movie-name">
                      <%= element.name%>
                    </div>
                    <form action="#" method="post" class="main__slider-boockmark">
                      <div class="main__boockmark-icon">
                        <i class="far fa-bookmark"></i>
                      </div>
                      <button type="button" class="main__boockmark-button">
                        Añadir a Mi lista
                      </button>
                    </form>
                  </div>
                  <% }) %>
                </div>
              </div>
            </article>
          </article>
        </section>
      </section>
    </div>
  </main>
  <%- include("./partials/footer") %>
</body>

</html>