<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <link rel="stylesheet" href="/css/products/productCrew.css" />
  <script src="/js/characterValidations.js"></script>
</head>

<body>
  <%- include("./partials/header") %>
  <main class="main">
    <div class="main__container">
      <% if (locals.errors) { %>
      <ul class="main__errors">
        <% errors.forEach(element => { %>
        <li>
          <%= element.msg %>
        </li>
        <% }) %>
      </ul>
      <% } %>
      <ul hidden class="main__errors errors"></ul>
      <h1 class="main__title">Nuevo personaje:</h1>
      <form class="main__form" action="/product/create/character" method="POST">
        <div class="input">
          <input type="text" class="text-box" id="actorsName" name="name" value="<%= locals.old ? old.name : '' %>" placeholder="Nombre">
          <span class="inputStatus">Estado del campo</span>
        </div>
        <div class="main__button">
          <button type="submit" class="send-button">Subir</button>
        </div>
        <div class="main__button">
          <button type="reset" class="reset-button">Reiniciar campo</button>
        </div>
      </form>
      <div class="main__button">
        <a href="/product/list">
          <button class="back-button">Volver a lista de productos</button>
        </a>
      </div>
    </div>
  </main>
  <%- include("./partials/footer") %>
</body>

</html>