<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <link rel="stylesheet" href="/css/products/productCrew.css" />
  <script src="/js/productionTeamValidation.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.7.0/validator.min.js" integrity="sha512-rJU+PnS2bHzDCvRGFhXouCSxf4YYaUyUfjXMHsHFfMKhWDIEBr8go2LZ2EYXOqASey1tWc2qToeOCYh9et2aGQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <%- include("./partials/header") %>
  <main class="main">
    <div class="main__container">
      <% if (locals.errors) { %>
      <ul class="main__errors">
        <% errors.forEach(element => { %>
        <li>
          <%= element.msg %>
        </li>
        <% }) %>
      </ul>
      <% } %>
      <ul hidden class="main__errors errors"></ul>
      <form class="main__form" action="/product/create/productionTeam" enctype="multipart/form-data" method="POST">
        <div class="main__radioForm">
          <div class="main__radioForm-container">
            <div>
              <input type="radio" name="type" id="actor" class="type" value="actor" <% if (locals.old) { %> <% if (old.type == "actor") { %><%= 'checked' %><% }; %> <% } %> />
              <label for="actor">Actor</label>
            </div>
            <div>
              <input type="radio" name="type" id="director" class="type" value="director" <% if (locals.old) { %> <% if (old.type == "director") { %><%= 'checked' %><% }; %> <% } %> />
              <label for="director">Director</label>
            </div>
            <div>
              <input type="radio" name="type" id="screenwriter" class="type" value="screenwriter" <% if (locals.old) { %> <% if (old.type == "screenwriter") { %><%= 'checked' %><% }; %> <% } %> />
              <label for="screenwriter">Guionista</label>
            </div>
          </div>
        </div>
        <div class="input">
          <input type="text" class="text-box field" id="actorsName" name="name" value="<%= locals.old ? old.name : '' %>" placeholder="Nombre y apellido">
          <span class="inputStatus">Estado del campo</span>
        </div>
        <div class="input">
          <input type="text" class="text-box field" id="actorsBiography" name="biography_link" value="<%= locals.old ? old.biography_link : '' %>" placeholder="Link de biografía">
          <span class="inputStatus">Estado del campo</span>
        </div>
        <div class="main__file-wrap">
          <label class="main__fieldDescription" for="actorsPhoto">Fotografía</label>
          <input type="file" id="actorsPhoto" name="photo" accept="image/jpg, image/png, image/jpeg">
        </div>
        <div class="main__button">
          <button type="submit" class="send-button">Subir</button>
        </div>
        <div class="main__button">
          <button type="reset" class="reset-button">Reiniciar campos</button>
        </div>
      </form>
      <div class="main__button">
        <a href="/product/list">
          <button class="back-button">Volver a lista de productos</button>
        </a>
      </div>
    </div>
  </main>
  <%- include("./partials/footer") %>
</body>

</html>