<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <link rel="stylesheet" href="/css/products/productUpdate.css" />
</head>

<body>
  <%- include("./partials/header") %>
  <main class="main">
    <div class="main__container">
      <h1 class="main__title">Actualizar el producto: <%= product.name%> </h1>
      <div class="main__button">
        <a href="/product/list">
          <button class="back-button">Volver a lista de productos</button>
        </a>
      </div>
      <form class="main__form-put" action="/product/edit/<%= product.id %>?_method=PUT" enctype="multipart/form-data" method="POST">
        <div>
          <input type="text" class="text-box" id="name" name="name" value="<%= product.name %>" placeholder="Nombre del producto">
        </div>
        <div class="main__radioForm">
          <div class="main__radioForm-container">
            <div>
              <input type="radio" name="type" id="movie" value="Película" checked />
              <label for="movie">Película</label>
            </div>
            <div>
              <input type="radio" name="type" id="tvSeries" value="Serie de TV" />
              <label for="tvSeries">Serie de TV</label>
            </div>
            <div>
              <input type="radio" name="type" id="documentary" value="Documental" />
              <label for="documentary">Documental</label>
            </div>
          </div>
        </div>
        <div>
          <input type="text" class="text-box" id="year" name="year" value="<%= product.year %>" placeholder="Año de salida">
        </div>
        <div>
          <input type="text" class="text-box" id="rated" name="rated" value="<%= product.rated %>" placeholder="Clasificación">
        </div>
        <div>
          <input type="text" class="text-box" id="length" name="length" value="<%= product.length %>" placeholder="Duración">
          <div>
            <input type="text" class="text-box" id="imdbScore" name="imdbScore" value="<%= product.imdbScore %>" placeholder="Puntaje de IMDb">
          </div>
          <div>
            <input type="text" class="text-box" id="imdbTotalReviews" name="imdbTotalReviews" value="<%= product.imdbTotalReviews %>" placeholder="Reseñas totales de IMDb">
          </div>
          <div>
            <input type="text" class="text-box" id="tomatoScore" name="tomatoScore" value="<%= product.tomatoScore %>" placeholder="Puntaje de Rotten Tomatoes">
          </div>
          <div>
            <input type="text" class="text-box" id="trailerLink" name="trailerLink" value="<%= product.trailerLink %>" placeholder="Link del trailer">
          </div>
          <div class="main__genreSelect">
            <div class="main__fieldDescription">Elegir género 1</div>
            <select name="genre1" class="main__select">
              <option value="Acción">Acción</option>
              <option value="Crimen">Crimen</option>
              <option value="Drama">Drama</option>
              <option value="Infantil">Infantil</option>
              <option value="Terror">Terror</option>
              <option value="Aventura">Aventura</option>
              <option value="Ciencia Ficcón">Ciencia Ficcón</option>
              <option value="Fantasía">Fantasía</option>
              <option value="Musical">Musical</option>
              <option value="Bélico">Bélico</option>
            </select>
            <div class="main__fieldDescription">Elegir género 2</div>
            <select name="genre2" class="main__select">
              <option value="Acción">Acción</option>
              <option value="Crimen">Crimen</option>
              <option value="Drama">Drama</option>
              <option value="Infantil">Infantil</option>
              <option value="Terror">Terror</option>
              <option value="Aventura">Aventura</option>
              <option value="Ciencia Ficcón">Ciencia Ficcón</option>
              <option value="Fantasía">Fantasía</option>
              <option value="Musical">Musical</option>
              <option value="Bélico">Bélico</option>
            </select>
          </div>
          <div>
            <input type="text" class="text-box" id="purchasePrice" name="purchasePrice" value="<%= product.purchasePrice %>" placeholder="Precio de venta">
            <input type="text" class="text-box" id="rentalPrice" name="rentalPrice" value="<%= product.rentalPrice %>" placeholder="Precio de alquiler">
          </div>
          <div>
            <textarea class="textarea" id="synopsis" name="synopsis" cols="30" rows="10" wrap="hard" placeholder="Sinopsis del producto"><%= product.synopsis %></textarea>
          </div>
          <div>
            <input type="text" class="text-box" id="director" name="director" value="<%= product.director %>" placeholder="Director">
          </div>
          <div>
            <input type="text" class="text-box" id="script" name="script" value="<%= product.script %>" placeholder="Guionista">
          </div>
          <div class="main__file-wrap">
            <div class="main__fieldDescription">Imagen del producto</div>
            <img src="/images/products/productsCreated/<%= product.productImage %> " alt="Product image">
            <label for="productImage"></label>
            <input type="file" id="productImage" name="productImage">
          </div>
          <div class="main__file-wrap">
            <div class="main__fieldDescription">Imagen del fondo</div>
            <img id="background-image" src="/images/products/productsCreated/<%= product.backgroundImage %> " alt="Background image">
            <label for="backgroundImage"></label>
            <input type="file" id="backgroundImage" name="backgroundImage">
          </div>
          <div class="main__button">
            <button type="submit" class="send-button">Actualizar</button>
          </div>
          <div class="main__button">
            <button type="reset" class="reset-button">Reiniciar campos</button>
          </div>
      </form>
      <form class="main__form-delete" action="/product/delete/<%= product.id  %>?_method=DELETE" method="POST">
        <div class="main__button">
          <button type="sumbit" class="delete-button">Eliminar producto</button>
        </div>
      </form>
    </div>
  </main>
  <%- include("./partials/footer") %>
</body>

</html>