<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <link rel="stylesheet" href="/css/products/productList.css" />
  <link rel="stylesheet" href="/css/products/generalListFormat.css" />
</head>

<body>
  <%- include("./partials/header") %>
  <main class="main">
    <div class="main__container">
      <h1>Listado de productos:</h1>
      <div class="main__button">
        <a href="/product/create/productionTeam">
          <button class="back-button">Cargar actor/director/guionista</button>
        </a>
        <a href="/product/create/character">
          <button class="back-button character-button">Cargar personaje</button>
        </a>
        <a href="/product/create">
          <button class="back-button product-button">Crear nuevo producto</button>
        </a>
      </div>
      <div class="prueba">

        <section class="main__product-list">
          <% products.forEach(element => { %>
          <a href="/product/detail/<%= element.id %>">
            <article class="main__product-article">
              <div class="main__img-container">
                <img src="/images/products/productsCreated/<%= element.product_image ? element.product_image : "Logo.png"%>" alt="Im치gen de producto">
              </div>
              <div class="main__product-information">
                <p>Informaci칩n del producto:</p>
                <ul>
                  <li>Id: <%= element.id %> </li>
                  <li>Nombre: <%= element.name %> </li>
                  <li>Tipo: <%= element.type %></li>
                  <li>Duraci칩n: <%= element.length %></li>
                  <li>Clasificaci칩n: <%= element.rating %> </li>
                  <li>Venta: $<%= element.purchase_price %> </li>
                  <li>Alquiler: $<%= element.rental_price %> </li>
                </ul>
              </div>
              <a href="/product/edit/<%= element.id %>"><button class="main_edit-button">Editar datos</button></a>
            </article>
          </a>
          <% }) %>
        </section>
      </div>
    </div>
  </main>
  <%- include("./partials/footer") %>
</body>

</html>