<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <link rel="stylesheet" href="/css/products/productCast.css" />
</head>

<body>
  <%- include("./partials/header") %>
  <main class="main">
    <div class="main__container">
      <h1 class="main__title">Reparto de <%= product.name %></h1>
      <form class="main__form" action="/product/create/cast" enctype="multipart/form-data" method="POST">
        <div class="main__create-form">
          <input type="hidden" class="text-box" id="name" name="name" value="<%= product.name %>">
        </div>
        <div class="main__create-form">
          <div class="main__radioForm-container">
            <input type="hidden" name="type" id="movie" value="<%= product.type %>" />
          </div>
        </div>
        <div class="main__create-form">
          <input type="hidden" class="text-box" id="year" name="release_year" value="<%= product.release_year %>">
        </div>
        <div class="main__create-form">
          <input type="hidden" class="text-box" id="rated" name="rating" value="<%= product.rating %>">
        </div>
        <div class="main__create-form">
          <input type="hidden" class="text-box" id="length" name="length" value="<%= product.length %>">
        </div>
        <div class="main__create-form">
          <input type="hidden" class="text-box" id="imdbScore" name="imdb_score" value="<%= product.imdb_score %>">
        </div>
        <div class="main__create-form">
          <input type="hidden" class="text-box" id="imdbTotalReviews" name="imdb_total_reviews" value="<%= product.imdb_total_reviews %>">
        </div>
        <div class="main__create-form">
          <input type="hidden" class="text-box" id="tomatoScore" name="tomato_score" value="<%= product.tomato_score %>">
        </div>
        <div class="main__create-form">
          <input type="hidden" class="text-box" id="trailerLink" name="trailer_link" value="<%= product.trailer_link %>">
        </div>
        <div class="main__create-form">
          <input type="hidden" class="text-box" id="genre1" name="genre1_id" value="<%= product.genre1_id %>">
          <input type="hidden" class="text-box" id="genre2" name="genre2_id" value="<%= product.genre2_id %>">
        </div>
        <div class="main__create-form">
          <input type="hidden" class="text-box" id="purchasePrice" name="purchase_price" value="<%= product.purchase_price %>">
          <input type="hidden" class="text-box" id="rentalPrice" name="rental_price" value="<%= product.rental_price %>">
        </div>
        <div class="main__create-form">
          <textarea hidden class="textarea" id="synopsis" name="synopsis" cols="30" rows="10" wrap="hard"><%= product.synopsis %></textarea>
        </div>
        <div class="main__create-form">
          <input type="hidden" class="text-box" id="director" name="director_id" value="<%= product.director_id %>">
        </div>
        <div class="main__create-form">
          <input type="hidden" class="text-box" id="screenwriter" name="screenwriter_id" value="<%= product.screenwriter_id %>">
        </div>
        <div class="main__create-form">
          <input type="hidden" class="text-box" id="screenwriter" name="productImage" value="<%= product.product_image %>">
        </div>
        <div class="main__create-form">
          <input type="hidden" class="text-box" id="screenwriter" name="backgroundImage" value="<%= product.background_image %>">
        </div>

        <div class="main__create-form">
          <input type="hidden" name="castLength" id="movie" value="<%= product.castLength %>" />
        </div>
        <div>
          <% for( let i = 1; i <= product.castLength; i++ ) { %>
          <h2 class="main__fieldDescription">Actor n°<%= i %> </h2>
          <select name="actor<%= i %>" class="main__select" required>
            <option value="" disabled selected></option>
            <% actors.forEach(element => { %>
            <option value="<%= element.id %>"><%= element.full_name %> </option>
            <% }) %>
          </select>
          <!--           <div>
            <input type="text" class="text-box" id="actorsName" name="actorsName<%= i %>" placeholder="Nombre del actor" required>
          </div>
          <div>
            <input type="text" class="text-box" id="character" name="character<%= i %>" placeholder="Nombre del personaje" required>
          </div>
          <div>
            <input type="url" class="text-box" id="actorsBiography" name="actorsBiography<%= i %>" placeholder="Link de biografía del actor" required>
          </div>
          <div class="main__file-wrap">
            <div class="main__fieldDescription">Fotografía del actor</div>
            <label for="actorsPhoto"></label>
            <input type="file" id="actorsPhoto" name="actorsPhoto<%= i %>" accept="image/jpg, image/png, image/jpeg" required>
          </div> -->
          <% } %>
        </div>
        <div class="main__button">
          <button type="submit" class="send-button">Crear</button>
        </div>
        <div class="main__button">
          <button type="reset" class="reset-button">Reiniciar campos</button>
        </div>
      </form>
      <div class="main__button">
        <a href="/product/create">
          <button class="back-button">Volver atras</button>
        </a>
      </div>
    </div>
  </main>
  <%- include("./partials/footer") %>
</body>

</html>