<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <link rel="stylesheet" href="/css/products/productCreate.css" />
  <script src="/js/productCreateValidations.js"></script>
</head>

<body>
  <%- include("./partials/header") %>
  <main class="main">
    <div class="main__container">
      <h1 class="main__title">Creación de productos:</h1>
      <div class="main__button">
        <a href="/product/list">
          <button class="back-button">Ir a lista de productos</button>
        </a>
      </div>
      <% if (locals.errors) { %>
      <ul class="main__errors">
        <% errors.forEach(element => { %>
        <li>
          <%= element.msg %>
        </li>
        <% }) %>
      </ul>
      <% } %>
      <ul class="errors"></ul>
      <form class="main__form" action="/product/create" enctype="multipart/form-data" method="POST">
        <div class="main__radioForm">
          <div class="main__radioForm-container">
            <div>
              <input type="radio" name="type" id="movie" class="type" value="Película" <% if (old.type == "Película") { %><%= 'checked' %><% }; %> />
              <label for="movie">Película</label>
            </div>
            <div>
              <input type="radio" name="type" id="tvSeries" class="type" value="Serie de TV" <% if (old.type == "Serie de TV") { %><%= 'checked' %><% }; %> />
              <label for="tvSeries">Serie de TV</label>
            </div>
          </div>
        </div>
        <div>
          <input type="text" class="text-box" id="name" name="name" value="<%= locals.old ? old.name : '' %>" placeholder="Nombre" required>
        </div>
        <div>
          <input type="text" class="text-box" id="year" name="release_year" value="<%= locals.old ? old.release_year : '' %>" placeholder="Año de salida" required>
        </div>
        <div>
          <input type="text" class="text-box" id="rated" name="rating" value="<%= locals.old ? old.rating : '' %>" placeholder="Clasificación">
        </div>
        <div>
          <input type="text" class="text-box" id="length" name="length" value="<%= locals.old ? old.length : '' %>" placeholder="Duración" required>
        </div>
        <div>
          <input type="number" class="text-box" id="imdbScore" name="imdbScore" step="0.01" min="0" max="10" value="<%= locals.old ? old.imdb_score : '' %>" placeholder="Puntaje de IMDb" required>
        </div>
        <div>
          <input type="text" class="text-box" id="imdbTotalReviews" name="imdbTotalReviews" value="<%= locals.old ? old.imdb_total_reviews : '' %>" placeholder="Reseñas totales de IMDb" required>
        </div>
        <div>
          <input type="number" class="text-box" id="tomatoScore" name="tomatoScore" min="0" max="100" value="<%= locals.old ? old.tomato_score : '' %>" placeholder="Puntaje de Rotten Tomatoes" required>
        </div>
        <div>
          <input type="url" class="text-box" id="trailerLink" name="trailerLink" value="<%= locals.old ? old.trailer_link: '' %>" placeholder="Link del trailer" required>
        </div>
        <div class="main__genreSelect">
          <div class="main__fieldDescription">Elegir género 1</div>
          <select name="genre1" class="main__select" id="genre1" required>
            <option value="" disabled selected></option>
            <% genres.forEach(element => { %>
            <option value="<%= element.id %>" <% if (old.genre1_id == element.id) { %><%= 'selected' %><% }; %>><%= element.name %></option>
            <% }) %>
          </select>
          <div class="main__fieldDescription">Elegir género 2</div>
          <select name="genre2" class="main__select" id="genre2" required>
            <option value="" disabled selected></option>
            <% genres.forEach(element => { %>
            <option value="<%= element.id %>" <% if (old.genre2_id == element.id) { %><%= 'selected' %><% }; %>><%= element.name %></option>
            <% }) %>
          </select>
        </div>
        <div>
          <input type="number" class="text-box" id="purchasePrice" name="purchasePrice" step="0.01" value="<%= locals.old ? old.purchase_price : '' %>" placeholder="Precio de venta" required>
          <input type="number" class="text-box" id="rentalPrice" name="rentalPrice" step="0.01" value="<%= locals.old ? old.rental_price : '' %>" placeholder="Precio de alquiler" required>
        </div>
        <div>
          <textarea class="textarea" id="synopsis" name="synopsis" cols="30" rows="10" wrap="hard" placeholder="Sinopsis"><%= locals.old ? old.synopsis : '' %></textarea>
        </div>
        <div>
          <div class="main__fieldDescription">Elegir director</div>
          <select name="director" class="main__select" id="director" required>
            <option value="" disabled selected></option>
            <% directors.forEach(element => { %>
            <option value="<%= element.id %>" <% if (old.director_id == element.id) { %><%= 'selected' %><% }; %>><%= element.full_name %> </option>
            <% }) %>
          </select>
        </div>
        <div>
          <div class="main__fieldDescription">Elegir guionista</div>
          <select name="screenwriter" class="main__select" id="screenwriter" required>
            <option value="" disabled selected></option>
            <% screenwriter.forEach(element => { %>
            <option value="<%= element.id %>" <% if (old.screenwriter_id == element.id) { %><%= 'selected' %><% }; %>><%= element.full_name %> </option>
            <% }) %>
          </select>
        </div>
        <div class="main__fieldDescription">Elegir cantidad de actores</div>
        <select name="castLength" class="main__select" id="castLength">
          <% for(let i = 1; i<=20; i++) {%>
          <option value="<%= [i] %>" <% if (old.castLength == [i]) { %><%= 'selected' %><% }; %>><%= [i] %></option>
          <% }%>
        </select>
        <div class="main__file-wrap">
          <label class="main__fieldDescription" for="productImage">Imagen del producto</label>
          <input type="file" id="productImage" name="productImage" id="productImage" accept="image/jpg, image/png, image/jpeg" required>
        </div>
        <div class="main__file-wrap">
          <label class="main__fieldDescription" for="backgroundImage">Imagen del fondo</label>
          <input type="file" id="backgroundImage" name="backgroundImage" id="backgroundImage" accept="image/jpg, image/png, image/jpeg" required>
        </div>
        <div class="main__button">
          <button type="submit" class="send-button">Siguiente</button>
        </div>
        <div class="main__button">
          <button type="reset" class="reset-button">Reiniciar campos</button>
        </div>
      </form>
    </div>
  </main>
  <%- include("./partials/footer") %>
</body>

</html>