<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <link rel="stylesheet" href="/css/products/productDetail.css" />
</head>

<body>
  <%- include("./partials/header") %>
  <main class="main">
    <div class="main__background"><img src="/images/products/productsCreated/<%= product.background_image ? product.background_image : "Logo.png"%>" alt="Background image"></div>
    <div class="main__container">
      <section class="main__product-description">
        <div class="main__product-header">
          <div class="main__product-logo">
            <h1><%= product.name %></h1>
            <h4><%= product.type %> - <%= product.release_year %> - <%= product.rating %> - <%= product.length %></h4>
            <img src="/images/products/productsCreated/<%= product.product_image ? product.product_image : "Logo.png"%>" alt="Product image" />
            <form action="#" method="post" class="main__boockmark">
              <div class="main__boockmark-icon">
                <i class="far fa-bookmark"></i>
              </div>
              <button type="button" class="main__boockmark-button">
                Añadir a Mi lista
              </button>
            </form>
          </div>
          <section class="main__score-trailer-genre">
            <section class="main__product-score">
              <article class="main__score-imdb">
                <div class="main__star-score">
                  <div class="main__star-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="main__complete-score">
                    <div class="main__score">
                      <span id="score"><%= product.imdb_score %></span>
                      <span id="ten">/10</span>
                    </div>
                    <div><%= product.imdb_total_reviews %></div>
                  </div>
                </div>
                <div>Puntuación en IMDb</div>
              </article>
              <article class="main__score-rottenTomatoes">
                <div class="main__tomato-score">
                  <span id="main__tomato-icon">
                    <img src="/images/products/productDetail/Rotten_Tomatoes.png" alt="Rooten Tomatoes icon" />
                  </span>
                  <span id="main__porcentage"><%= product.tomato_score %>%</span>
                </div>
                <p>Tomatometer</p>
              </article>
            </section>
            <div class="main__trailer">
              <a href=<%= product.trailer_link %> target="”_blank”"><i class="fas fa-play"></i>Trailer</a>
            </div>
            <article class="main__genre">
              <div class="main__genre-1"><%= product.genre1.name %></div>
              <div class="main__genre-2"><%= product.genre2.name %></div>
            </article>
          </section>
        </div>
        <div class="main__buy-rent-buttons">
          <form action="#" method="get" class="main__buttons">
            <button type="button" class="main__buy-button">
              Comprar por $<%= product.purchase_price %>
            </button>
            <button type="button" class="main__rent-button">
              Alquilar por $<%= product.rental_price %>
            </button>
          </form>
        </div>
        <div class="main__synopsis">
          <%= product.synopsis %>
        </div>
        <article class="main__product-crew">
          <div class="main__product-director">
            <div class="main__director">Dirección</div>
            <a href="<%= product.director.biography_link %> " target="_blank">
              <span class="product-director"><%= product.director.full_name %></span>
            </a>
          </div>
          <div class="main__product-screenwriter">
            <div class="main__screenwriter">Guión</div>
            <a href="<%= product.screenwriter.biography_link %> ">
              <span class="product-screenwriter"><%= product.screenwriter.full_name %></span>
            </a>
          </div>
        </article>
      </section>
      <section class="main__sliders">
        <article class="article__slider-1">
          <div class="main__slider-title">
            <h2>Reparto principal</h2>
            <div><i class="fas fa-chevron-right"></i></div>
          </div>
          <div class="main__slider-wrap-principal-cast">
            <div class="main__slider">
              <div class="main__slider-inner" id="main__slider-1-inner">
                <% product.actors.forEach(element => { %>
                <div class="main__item-actor">
                  <a href="<%= element.biography_link%>" target="_blank">
                    <img src="/images/products/productsCreated/<%=element.actors_photo ? element.actors_photo : "Logo.png"%>" alt="<%= element.actor%>" />
                    <div class="main__actor-name"><%= element.full_name%></div>
    
                  </a>
                </div>
                <% }) %>
              </div>
            </div>
          </div>
        </article>
        <section class="main__product_sliders">
          <article class="article__slider-2">
            <div class="main__slider-title">
              <h2>Dirigidas por <%= product.director.name %> </h2>
              <div><i class="fas fa-chevron-right"></i></div>
            </div>
            <div class="main__slider-wrap-directedBy">
              <div class="main__slider">
                <div class="main__slider-inner" id="sliderMovies">
                  <!-- FALTA SLIDER  DE DIRECTOR-->
                </div>
              </div>
            </div>
          </article>
          <article class="article__slider-3">
            <div class="main__slider-title">
              <h2>Películas similares</h2>
              <div><i class="fas fa-chevron-right"></i></div>
            </div>
            <article class="main__slider-wrap-directedBy">
              <div class="main__slider">
                <div class="main__slider-inner" id="sliderMovies">
                  <!-- FALTA SLIDER  DE PELÍCULAS SIMILARES-->
                </div>
              </div>
            </article>
          </article>
        </section>
      </section>
    </div>
  </main>
  <%- include("./partials/footer") %>
</body>

</html>