<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <link rel="stylesheet" href="/css/products/productCreate.css" />
</head>

<body>
  <%- include("./partials/header") %>
  <main class="main">
    <div class="main__container">
      <h1 class="main__title">Creación de productos:</h1>
      <div class="main__button">
        <a href="/product/list">
          <button class="back-button">Ir a lista de productos</button>
        </a>
      </div>
      <form class="main__form" action="/product/create" enctype="multipart/form-data" method="POST">
        <div>
          <input type="text" class="text-box" id="name" name="name" value="<%= locals.old ? old.name : '' %>" placeholder="Nombre">
        </div>
        <div class="main__radioForm">
          <div class="main__radioForm-container">
            <div>
              <input type="radio" name="type" id="movie" value="Película" checked />
              <label for="movie">Película</label>
            </div>
            <div>
              <input type="radio" name="type" id="tvSeries" value="Serie de TV" />
              <label for="tvSeries">Serie de TV</label>
            </div>
            <div>
              <input type="radio" name="type" id="documentary" value="Documental" />
              <label for="documentary">Documental</label>
            </div>
          </div>
        </div>
        <div>
          <input type="text" class="text-box" id="year" name="year" value="<%= locals.old ? old.year : '' %>" placeholder="Año de salida">
        </div>
        <div>
          <input type="text" class="text-box" id="rated" name="rated" value="<%= locals.old ? old.rated : '' %>" placeholder="Clasificación">
        </div>
        <div>
          <input type="text" class="text-box" id="length" name="length" value="<%= locals.old ? old.length : '' %>" placeholder="Duración">
        </div>
        <div>
          <input type="text" class="text-box" id="imdbScore" name="imdbScore" value="<%= locals.old ? old.imdbScore : '' %>" placeholder="Puntaje de IMDb">
        </div>
        <div>
          <input type="text" class="text-box" id="imdbTotalReviews" name="imdbTotalReviews" value="<%= locals.old ? old.imdbTotalReviews : '' %>" placeholder="Reseñas totales de IMDb">
        </div>
        <div>
          <input type="number" class="text-box" id="tomatoScore" name="tomatoScore" value="<%= locals.old ? old.tomatoScore : '' %>" placeholder="Puntaje de Rotten Tomatoes">
        </div>
        <div>
          <input type="text" class="text-box" id="trailerLink" name="trailerLink" value="<%= locals.old ? old.trailerLink: '' %>" placeholder="Link del trailer">
        </div>
        <div class="main__genreSelect">
          <div class="main__fieldDescription">Elegir género 1</div>
          <select name="genre1" class="main__select">
            <option value="Acción">Acción</option>
            <option value="Crimen">Crimen</option>
            <option value="Drama">Drama</option>
            <option value="Infantil">Infantil</option>
            <option value="Terror">Terror</option>
            <option value="Aventura">Aventura</option>
            <option value="Ciencia Ficcón">Ciencia Ficcón</option>
            <option value="Fantasía">Fantasía</option>
            <option value="Musical">Musical</option>
          </select>
          <div class="main__fieldDescription">Elegir género 2</div>
          <select name="genre2" class="main__select">
            <option value="Acción">Acción</option>
            <option value="Crimen">Crimen</option>
            <option value="Drama">Drama</option>
            <option value="Infantil">Infantil</option>
            <option value="Terror">Terror</option>
            <option value="Aventura">Aventura</option>
            <option value="Ciencia Ficcón">Ciencia Ficcón</option>
            <option value="Fantasía">Fantasía</option>
            <option value="Musical">Musical</option>
          </select>
        </div>
        <div>
          <input type="text" class="text-box" id="purchasePrice" name="purchasePrice" value="<%= locals.old ? old.purchasePrice : '' %>" placeholder="Precio de venta">
          <input type="text" class="text-box" id="rentalPrice" name="rentalPrice" value="<%= locals.old ? old.rentalPrice : '' %>" placeholder="Precio de alquiler">
        </div>
        <div>
          <textarea class="textarea" id="synopsis" name="synopsis" cols="30" rows="10" wrap="hard" placeholder="Sinopsis"><%= locals.old ? old.synopsis : '' %></textarea>
        </div>
        <div>
          <input type="text" class="text-box" id="director" name="director" value="<%= locals.old ? old.director : '' %>" placeholder="Director">
        </div>
        <div>
          <input type="text" class="text-box" id="directorBiography" name="directorBiography" value="<%= locals.old ? old.directorBiography : '' %>" placeholder="Link de biografía del director">
        </div>
        <div>
          <input type="text" class="text-box" id="screenwriter" name="screenwriter" value="<%= locals.old ? old.screenwriter : '' %>" placeholder="Guionista">
        </div>
        <div>
          <input type="text" class="text-box" id="screenwriterBiography" name="screenwriterBiography" value="<%= locals.old ? old.screenwriterBiography : '' %>" placeholder="Link de biografía del guionista">
        </div>
        <div class="main__fieldDescription">Elegir cantidad de actores</div>
        <select name="castLength" class="main__select">
          <% for(let i = 1; i<=20; i++) {%>
          <option value="<%= [i] %>"><%= [i] %></option>
          <% }%>
        </select>
        <div class="main__file-wrap">
          <div class="main__fieldDescription">Imagen del producto</div>
          <label for="productImage"></label>
          <input type="file" id="productImage" name="productImage">
        </div>
        <div class="main__file-wrap">
          <div class="main__fieldDescription">Imagen del fondo</div>
          <label for="backgroundImage"></label>
          <input type="file" id="backgroundImage" name="backgroundImage">
        </div>
        <div class="main__button">
          <!--     <a href="/product/create/">
          </a> -->
          <button type="submit" class="send-button">Siguiente</button>
        </div>
        <div class="main__button">
          <button type="reset" class="reset-button">Reiniciar campos</button>
        </div>
      </form>
    </div>
  </main>
  <%- include("./partials/footer") %>
</body>

</html>