<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <link rel="stylesheet" href="/css/login copy.css" />
  <script src="/js/loginValidations.js"></script>
</head>

<body>
  <%- include("./partials/header") %>
  <main class="main">
    <div class="main__container">
      <div class="main__nav-menu">
        <ul class="main__nav-list">
          <li>
            <a href="/user/login" class="main__login"> Iniciar sesión </a>
          </li>
          <li>
            <a href="/user/register" class="main__register"> Registrarse </a>
          </li>
        </ul>
      </div>
      <!--       <% if (locals.errors && errors.email) { %>
      <ul class="main__errors">
        <% errors2.forEach(element => { %>
        <li>
          <%= element.msg %>
        </li>
        <% }) %>
      </ul>
      <% } %> -->
      <div hidden class="main__errors-front errors"></div>
<!--       <div class="main__errors-front errors" style="color: white">
        No pudimos encontrar una cuenta con esta dirección de email. Por favor intentá de nuevo o creá una cuenta nueva.
      </div> -->
      <form action="/user/login" method="POST" class="main__form">
        <div class="main__form-container">
          <div class="main__account-form">
            <div class="main__form-input-error">
              <div class="main__form-input main__form-input-email">
                <input type="text" class="main__text-box" id="email" name="email" value="<%= locals.old ? old.email : '' %>">
                <label class="main__input-label" for="email">Email</label>
              </div>
              <% if (locals.errors && errors.email) { %>
              <div class="main__form-error"><%= errors.email.msg %> </div>
              <% } %>
              <div class="main__form-error-front"></div>
            </div>
            <div class="main__form-input-error">
              <div class="main__form-input main__form-input-password">
                <input type="password" class="main__text-box" id="password" name="password">
                <label class="main__input-label" for="password">Contraseña</label>
              </div>
              <% if (locals.errors && errors.password) { %>
              <div class="main__form-error"><%= errors.password.msg %> </div>
              <% } %>
              <div class="main__form-error-front"></div>
            </div>
          </div>
        </div>
        <div class="main__remember-container">
          <div class="main__remember">
            <input type="checkbox" name="remember" id="remember" />
            <label for="remember">Recordame</label>
          </div>
        </div>
        <div class="main__buttons-container">
          <div class="main__button">
            <button type="submit" class="send-button">Ingresar</button>
          </div>
        </div>
      </form>
    </div>

  </main>
  <%- include("./partials/footer") %>
</body>

</html>