<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <link rel="stylesheet" href="/css/register.css" />
  <script src="/js/registerValidations.js"></script>
</head>

<body>
  <%- include("./partials/header") %>
  <main class="main">
    <div class="main__container">
      <div class="main__nav-menu">
        <ul class="main__nav-list">
          <li>
            <a href="/user/login" class="main__login"> Iniciar sesión </a>
          </li>
          <li>
            <a href="/user/register" class="main__register"> Registrarse </a>
          </li>
        </ul>
      </div>
      <form action="/user/register" method="POST" enctype="multipart/form-data" class="main__form">
        <div class="main__form-container">
          <div class="main__account-form">
            <div class="main__form-input-error">
              <div class="main__form-input main__form-input-email">
                <input type="text" class="main__text-box" id="email" name="email" value="<%= locals.old ? old.email : '' %>" required>
                <label class="main__input-label" for="email">Email</label>
              </div>
              <% if (locals.errors && errors.email) { %>
              <div class="main__form-error"><%= errors.email.msg %> </div>
              <% } %>
              <div class="main__form-error-front"></div>
            </div>
            <div class="main__form-input-error">
              <div class="main__form-input main__form-input-password">
                <input type="password" class="main__text-box" id="password" name="password" required>
                <label class="main__input-label" for="password">Contraseña</label>
              </div>
              <% if (locals.errors && errors.password) { %>
              <div class="main__form-error"><%= errors.password.msg %> </div>
              <% } %>
              <div class="main__form-error-front"></div>
            </div>
            <div class="main__form-input-error">
              <div class="main__form-input main__form-input-confirmPassword">
                <input type="password" class="main__text-box" id="confirmPassword" name="confirmPassword" required>
                <label class="main__input-label" for="confirmPassword">Confirmar contraseña</label>
              </div>
              <% if (locals.errors && errors.confirmPassword) { %>
              <div class="main__form-error"><%= errors.confirmPassword.msg %> </div>
              <% } %>
              <div class="main__form-error-front"></div>
            </div>
            <div class="main__form-input-error">
              <div class="main__form-input main__form-input-name">
                <input type="text" class="main__text-box" id="name" name="name" value="<%= locals.old ? old.name : '' %>" required>
                <label class="main__input-label" for="name">Nombre</label>
              </div>
              <% if (locals.errors && errors.name) { %>
              <div class="main__form-error"><%= errors.name.msg %> </div>
              <% } %>
              <div class="main__form-error-front"></div>
            </div>
            <div class="main__form-input-error">
              <div class="main__form-input main__form-input-surname">
                <input type="text" class="main__text-box" id="surname" name="surname" value="<%= locals.old ? old.surname : '' %>" required>
                <label class="main__input-label" for="surname">Apellido</label>
              </div>
              <% if (locals.errors && errors.surname) { %>
              <div class="main__form-error"><%= errors.surname.msg %> </div>
              <% } %>
              <div class="main__form-error-front"></div>
            </div>
          </div>
          <div class="main__personal-form">
            <div class="main__form-input-error">
              <div class="main__form-input main__form-input-phone">
                <input type="tel" class="main__text-box" id="phone" name="phone" value="<%= locals.old ? old.phone : '' %>" required>
                <label class="main__input-label" for="phone">Número de teléfono</label>
              </div>
              <% if (locals.errors && errors.phone) { %>
              <div class="main__form-error"><%= errors.phone.msg %> </div>
              <% } %>
              <div class="main__form-error-front"></div>
            </div>
            <div class="main__form-input-error">
              <div class="main__form-input main__form-input-birthdate">
                <label class="main__input-description" for="birthdate">Fecha de nacimiento</label>
                <input type="date" name="birthdate" id="birthdate" class="main__birthdate-input" value="<%= locals.old ? old.birthdate : '' %>" required>
              </div>
              <% if (locals.errors && errors.birthdate) { %>
              <div class="main__form-error"><%= errors.birthdate.msg %> </div>
              <% } %>
              <div class="main__form-error-front"></div>
            </div>
            <div class="main__input-description">Elegí tus géneros favoritos</div>
            <div class="main__form-input-error">
              <div class="main__genre-select">
                <select name="genre1" class="main__select genre1" id="genres">
                  <option value="" disabled selected></option>
                  <% genres.forEach(element => { %>
                  <option value="<%= element.id %>" <% if (locals.old && old.genre1 == element.id) { %><%= 'selected' %><% }; %>><%= element.name %></option>
                  <% }) %>
                </select>
                <select name="genre2" class="main__select genre2" id="genres">
                  <option value="" disabled selected></option>
                  <% genres.forEach(element => { %>
                  <option value="<%= element.id %>" <% if (locals.old && old.genre2 == element.id) { %><%= 'selected' %><% }; %>><%= element.name %></option>
                  <% }) %>
                </select>
              </div>
              <% if (locals.errors && errors.genre2) { %>
              <div class="main__form-error main__genre-error"><%= errors.genre2.msg %> </div>
              <% } %>
              <div class="main__form-error-front main__form-error-front-genres"></div>
            </div>
            <div class="main__form-input-error">
              <div class="main__form-input main__form-input-photo">
                <label class="main__input-description main__input-photo-description" for="photo">Foto de perfil</label>
                <input type="file" name="userPhoto" id="photo" accept="image/jpg, image/png, image/jpeg" >
              </div>
              <% if (locals.errors && errors.userPhoto) { %>
              <div class="main__form-error"><%= errors.userPhoto.msg %> </div>
              <% } %>
              <div class="main__form-error-front"></div>
            </div>
          </div>
        </div>
        <div class="main__buttons-container">
          <div class="main__button">
            <button type="submit" class="send-button">Crear cuenta</button>
          </div>
          <div class="main__button">
            <button type="reset" class="reset-button">Reiniciar campos</button>
          </div>
        </div>
      </form>
    </div>

  </main>
  <%- include("./partials/footer") %>
</body>

</html>