<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <link rel="stylesheet" href="/css/products/generalListFormat.css" />
  <link rel="stylesheet" href="/css/products/moviesSeriesList.css" />
</head>

<body>
  <%- include("./partials/header") %>
  <main class="main">
    <div class="main__container">
      <h1>Series:</h1>
      <section class="main__product-list">
        <% series.forEach(element => { %>
        <a href="/product/detail/<%= element.id %>">

          <article class="main__product-article">
            <div class="main__img-container">
              <img src="/images/products/productsCreated/<%= element.productImage ? element.productImage : "Logo.png"%>" alt="Imágen de producto">
            </div>
            <div class="main__product-name"><%= element.name %> </div>
            <form action="#" method="post" class="main__boockmark">
              <div class="main__boockmark-icon">
                <i class="far fa-bookmark"></i>
              </div>
              <button type="button" class="main__boockmark-button">
                Añadir a Mi lista
              </button>
            </form>
          </article>

        </a>
        <% }) %>
      </section>
    </div>
  </main>
  <%- include("./partials/footer") %>
</body>

</html>