<main>
    <section class="img_main">
      <div class="conjunto">
        <img src="/images/index/DoctorStrange2_movie.jpg" alt="imagenprincipal">
        <div class="top1">
            <img src="/images/index/top.png" alt="logotop">
        </div>
      </div>
    </section>
    <section class="ultimos_lanzamientos">
      <h3 class="text1">Últimos lanzamientos</h3>
      <section class="main__product-list">
        <% ultimo_Lanzamiento.forEach(element => { %>
        <a href="/product/detail/<%= element.id %>">
          <article class="main__product-article">
            <div class="main__img-container">
              <img src="/images/products/productsCreated/<%= element.productImage ? element.productImage : "Logo.png"%>" alt="Imágen de producto">
            </div>
            <div class="main__product-name"><%= element.name %> </div>
          </article>
        </a>
        <% }) %>
      </section>
    </section>
    <section class="mas_alquilado">
      <h3 class="text2">Series</h3>
      <<section class="main__product-list">
        <% ultimo.forEach(element => { %>
        <a href="/product/detail/<%= element.id %>">
          <article class="main__product-article">
            <div class="main__img-container">
              <img src="/images/products/productsCreated/<%= element.productImage ? element.productImage : "Logo.png"%>" alt="Imágen de producto">
            </div>
            <div class="main__product-name"><%= element.name %> </div>
          </article>
        </a>
        <% }) %>
    </section>
  </main>

